*::before, *::after, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --html-background: #f3f4f6;
    --body-background: #f9fafb;
    --accent-primary: #4b5563;
    --accent-secondary: #f9fafb;
    --theme-text-primary: #1f2937;
    --theme-text-seconday: #4b5563;
}

@media (prefers-color-scheme: dark) {
    :root {
        --html-background: #18181b;
        --body-background: #27272a;
        --accent-primary: #3f3f46;
        --accent-secondary: ;
        --theme-text-primary: #e4e4e7;
        --theme-text-seconday: #3f3f46;
    }
}

html {
    background-color: var(--html-background);
    color: var(--theme-text-primary);
    font-size: 16px;
    font-family: "Helvetica", "Trebuchet MS", "Verdana", sans-serif;
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }
}

body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100dvh;
    background-color: var(--body-background);
}

nav {
    background-color: var(--accent-primary);
    background-image: url('../img/gba.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    padding: 2rem 1rem;
    position: relative;
}

nav > * {
    color: var(--accent-secondary);
}

nav p {
    font-size: 0.85rem;
    margin-top: 0.5rem;
}

section {
    padding: 2rem 1rem;
}