<!DOCTYPE html>
<html lang="en" class="theme adaptive">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
        <title>The RomDB Archive</title>
    </head>
    <body>
        {{template "nav"}}
        <section 
            id="game-list-container"
            hx-get="/games"
            hx-trigger="load"
            hx-target="#game-list"
            hx-swap="innerHTML">
            <div>
                <h1 class="body-title text-primary">Up To Date ROM List</h1>
                <p class="body-subtitle text-primary">Click on ROM for metadata</p>
            </div>
            <div id="game-list"></div>
        </section>
    </body>
</html>