<!DOCTYPE html>
<html lang="en" class="theme adaptive">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
        <title>The RomDB Archive</title>
    </head>
    <body>
        <nav>
            <h1>The RomDB Archive</h1>
            <p>An ever-growing collection of sanitized file names for video game ROMs.</p>
        </nav>
        <section>
            <div 
                id="games-list"
                hx-get="/games"
                hx-trigger="load"
                hx-target="#games-list"
                hx-swap="innerHTML">
                Loading games...
            </div>
        </section>
    </body>
</html>